.config
*.o
*.a
tests/hello
tests/stdio
tests/headers
tests/verify
tests/stdlib
tests/more
tests/ctype
tests/errno
tests/assert
tests/inttypes
tests/all
tests/easter
nyon
nyon.c
testfile.txt
libkawkaw.a
AGENTS.md
code.md
